# Binaries for programs and plugins
main
notes_zoxide
*.exe
*.exe~
*.so
*.dylib
*.dll

# Ignore binary output folders
bin/

# ignore those folder
ox/
idea/
cli/
out/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# Json stuff
*.json

# vweb and database
*.db
*.js
